body {
    /* background-color: #333; */
    overflow-x: hidden;
}

.portpic {
    background: url("../img/portfolio/LACD(thumb).png") top left #c4a046 no-repeat;
    width: 80vw;
    height: 80vh;
    background-size: contain;
    position: relative;
    margin: 0 auto;
    vertical-align: middle;
}

#port .row {
    width:inherit;
}

.navbar-brand {
    background: url('../img/portfolio.png') center center no-repeat;
    background-size: contain;
    color: #c4a046;
}



/*  */




.row{
    /* width: 80vw; */
    /* background-color: #fff; */
    text-align: center;
    margin: 0 auto;
    border-radius: 6px;
    /* background-color: yellow; */
    
}


#port {
    text-align: center;
    color:#fff;
    width: 100vw;
    margin: 0 auto;
    padding-bottom: 40px;

}

#port .topic {
    background-color: #FBE091;
    padding-top: 150px;
    padding-bottom: 40px;
}






.navbar-brand{
    width: 350px;
}

.nav-link {
    padding: 0;
}

.topic {
    color:#252525;
}


.topic p:last-child{
    margin-bottom: 30px;
}

.webintro p {
    line-height: 25px;
    margin: 5px !important;
    font-size: 1.1em;

}



.webintro {
    margin:15px 0 15px 0;
}

.topic h1 {
        margin:0;
        font-weight: 500;
        font-family: 'Patua One','Roboto';


    }

.topic p {
    font-size: 22px;
}

#port .topic img {
    max-height: 390px;
    /* width:50%; */
    height:auto;
    width:auto;
    margin-top: 40px;

}

.seperate {
    margin:50px 0;
    color:#252525 ;
}

.list h4 {
    color:#252525;
    font-weight: 400;
    margin:20px 0 20px 0 !important;
    font-size: 1.6em;
    font-family: 'Patua One','Roboto';
}

.list {
    text-align: left;
    width: 60%; 
    margin:0 auto;
}

.list b {
    font-weight: 1000;
    font-family: serif;
}

.list.point p {
    font-size: 1.1em;
    line-height: 1.5em;
    margin-bottom: 0.3em;
}

.web, .mobile {
    float:left;
}

.web {
    min-width: 640px;
    float: left;
}



.navbar-brand{
    text-align: left;
}

.codepen {
    margin-bottom: 8px !important;
}


.list-img > img{
    width: 62%;
}










@media screen and (max-width: 900px) {
    #port {width: 100%;}
    #port .topic img {width: 100%;}
    .webintro p {
        font-size: 1.1em;
        line-height: 25px;
        margin-bottom: 5px;
    }
    .topic p:last-child{
        margin-bottom: 10px;
    }
    .topic h2 {
        margin: 20px 0;
    }

    .topic img {
        max-width:600px;
    }
    .dark-yellow {
        height: 250px;
        /* margin-top: 120px; */
    }
    #port {
        /* margin-top: -240px; */
    }
    /* header img {
        height: 40px;
    }
    header {
        padding:20px 10px;
    }
    header .link a:first-child, header .link a:nth-child(2){
        display: none;
    }
    header .link {
        margin:5px auto;
    } */
    .only-small {
    display: block;
    }

    .list {
        width: 80%;
    }
}


@media screen and (max-width: 768px) {
    .list {
        width: 98%;
        font-size:1em;
    }

    #port {
        margin-top: 0px !important;
    }
    .list-img > img{
        width: 90%;
    }
}



.story {
    text-align: justify;
    border-left: 1px solid #ddd;
    padding-left: 20px;   
}

.story p {
    font-weight: 400;
    color:#ddd;
}

.list, .list a {
    /* font-family:medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif; */
}

.list h4 {
    /* font-family:medium-content-sans-serif-font,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif; */
}


.list p {
    font-weight: 400!important;
    font-style: normal;
    color:rgba(0,0,0,0.85);
    /* text-align: justify; */
    font-size: 1.1em;
    line-height: 1.65;
    /* font-family:medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif; */
    letter-spacing: .004em;
    /* --x-height-multiplier: 0.375; */
    /* --baseline-multiplier: 0.5; */
    word-break: break-word;
    font-variant: normal;

}

.list b, .caption b{
    /* font-family:medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif; */
    font-weight: 700;
}


.web, .mob {
    margin-bottom: 20px;
}


.mob{
    height: 400px;
    overflow: hidden;
    float: left;
    /* margin-left: 15px; */
}


.scroll{
    height: 400px;
   overflow: hidden;
   overflow-y:scroll;
   float: left;
}

.webnav{
    float: left;
}

.caption {
    text-align: center !important;
    color:#252525;
    font-size:16px;
    margin-top: 6px;
    /* font-family: Georgia,Cambria,"Times New Roman",Times,serif; */
    letter-spacing: .004em;
    color:#666;
}

.caption a{
    color:#252525;
    text-decoration: underline;
}

.read-more h5 {
    text-align: center;
    color:#E98059;
    margin: 30px 0 0px 0 ;
    font-weight: 600;
  }
  
  /* .read-more {
    border-top: 1px solid 252525;
    margin-top:200px !important;
  } */


  #port p {
      margin:30px 0 30px 0;
  }

  #port .list.point p {
    margin:10px 0;
}

#port img {
    height:auto;
}

#port {
    margin-bottom: 70px;
    /* border-bottom: 1px solid #FBE091; */
}


.cell {
    vertical-align: bottom;
    display: table-cell;
}

.list-img .imgs {
    display:inline-block;
    text-align:center;
}

.list-img img {
    width:70%;
}

.quality-interview p{
    text-align: left;
    margin: 0 !important;
}

.quality-interview .col {
    margin: 15px 0;
}

.quality-interview img {
    margin: 10px 0;
    width:80px
}


@media screen and (max-width: 756px) {
    .quality-interview img {
        margin: 5px 0;
        width:55px
    }

    .list-img img {
        width:98%;
        text-align: center;
        margin: 0 auto
        margin-right: 15px;
    }

    .topic h1 {
        font-size: 32px;
    }

    .list h4 {
        font-size: 1.4em;
    }

}





