  *{
    margin: 0;
    padding: 0;
    /* font-family: 'Raleway', sans-serif; */
    /* font-family: "微軟正黑體", "Microsoft JhengHei", "新細明體", "PMingLiU", "細明體", "MingLiU", "標楷體", "DFKai-sb", serif; */
    /* font-family: Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif; */
    font-family:"Arial","PingFangSC-Regular","Helvetica", "微軟正黑體","黑體-繁", sans-serif;
  }

  body {
    color:#111;
  }



/* navbar */
    
  .navbar {
    color: #fff;
  }

  nav, #welcomepic, #about, #moments, #skills, #portfolio, #contact, #footer {
    /* background: #181818; */
    width: 100%;
    overflow: hidden;
  }


  #welcomepic, #about, #moments, #skills, #portfolio, #contact {
    margin: 90px auto 80px;
  }


  #welcomepic {
    margin-top: 70px;
  }

  #portfolio {
    /* padding-top: 60px; */
    /* padding-bottom: 30px; */
  }


  .navbar-brand {
    height: 60px;
    background-color: red;
    background: url('../img/name.png') center center no-repeat;
    background-size: contain;
    padding: 20px 0;
    width: 60vw;  
  }

  .nav-item a {
    color: #9E6B57;
  }

  .nav-item a:hover {
    color: #E37D5C;
  }


/* welcome */

  .welcomepic {
    /* height: 85vh; */
    text-align: center;
    margin-top: 60px;
  }


  #welcomepic h1{
    display: block;
    width: 45vw;
    font-size: 4vw;
    position: absolute;
    color: #9E6B57;
    right: 0;
    /* background-color: #FBE091; */
    /* background-color: #fbe091; */
    text-align: center;
    /* bottom: 28%; */
    padding: 3vw 0;
    /* text-shadow:0 0 40px #000; */
    line-height: 5vw;
    }

  #welcomepic h1{
    animation-duration: 4s;
    animation-name: slidein;
  }

  @keyframes slidein {
    from {right: -50vw;}
    to {right: 0;}
  }


/* topic */

  .topic  {
    color: #9E6B57;
    padding:25px;
    margin: 0;
    text-align: center;
    padding-top: 40px;
  }

  .topic h2 {
    padding: 10px;
  }


   
  .under{
    background: url('../img/line.jpg') center center no-repeat;
    background-size: contain;
    margin: 0 auto;
    width: 150px;
    height: 25px;
  }


  #welcome {
    height: 80vh;
    width: 100%;
    /* background-color: #FBE091; */
    /* opacity:0.2 */
    /* background-color: #FEEFDC; */
    /* background-color: #FDF5EB */
    /* margin-top: 70px; */
    /* background-color:beige; */

    /* background-color: rgb(202,201,128); */
    position: relative;
    overflow: hidden;
    padding: 9% 20px;
  }

  #welcome h1 {
    line-height: 1.5em;
    font-family: Calibre, sans-serif;
    font-size:2.3em;
    font-weight: 500;
    color: #0a0a14;
  }

  #welcome .img-box {
    height: 400px;
    width: 350px;
    float:right;
    background-color: black;
    background-size: cover;
    background-position: 85% center;
  }

   #welcome img:first-child {
    position: absolute;
    display: block;
    margin:auto;
    /* width:90vw; */
    left:0;
    /* top:125px; */
  } 

  #welcome img:nth-child(2) {
    position: absolute;
    width:65%;
    right:10%;
    top:70px;
  }



  #welcome .row {
    position:relative;
    align-self: flex-end;
  }


  #welcome .intro-box {
    position: absolute;
    background-color: #E98059;
    width: 400px !important;
    padding:20px 35px;
    right:0;
    bottom:0;
    font-size: 20px;
    color:#fff;
    
   
  }



/* about */

  .box{  
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-color: #9E6B57;
    position: absolute;
    right: 5%;
    top: 3%; 
    display: table;
    margin: 0 auto;
  }

  .insidebox {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
    line-height: 23px;   
    padding-top: 10px;
  }

  .box p{
    color: #333;
  }

  a{
    color: #9E6B57
  }

  a:hover {
    color: #E37D5C;
  }


  .bg-section h6, .sm-section h6{
    font-size: 20px;
    line-height: 22px;
    font-weight: 600;
    color: #252525;
    letter-spacing: .5px;
  }

  .word h5{
    font-size: 32px;
    line-height: 44px;
    color: #9E6B57;
    font-weight: 600;
    display: inline;
    text-align: center;
    /* background: -webkit-linear-gradient(top, #9E6B57 0, #9E6B57 75%); */
    /* background: -webkit-linear-gradient(top, #E98058 50%, #FBE091 25%); */
    /* -webkit-background-clip: text; */
    /* -webkit-text-fill-color: transparent; */
    /* text-shadow: 0.1em 0.1em 0.5em #FBE091; */
  }


  #about p, #about a, .word p{
    font-size: 1em;
    color: #252525;
    /* text-align: left; */
    line-height: 1.75em;
  }

  .word p {
    font-size: 1em !important;
    line-height: 1.8em;
  }




   .bg-section {
    /* border-left: 2px solid #9E6B57; */
    /* padding-left:15px; */
    margin-bottom: 20px;
    margin-top: 10px !important;
  }

  .sm-section p, .bg-section p{
    line-height: 1.6em;
  }

  .sm-section a:hover{
    text-decoration: none;
    color:#9E6B57 !important;
  }

  .sm-section i {
    font-size: 22px;
    line-height: 44px;
    width:26px;
    padding-top: 3px
  }

  .sm-section a:hover i {
    color: #9E6B57;
  }

  .bg-section span {
    font-weight: 600;
    color: #252525;
  }

  .sm-section a {
    color:#252525;
    line-height: 1.6em;
    margin:5px 0  !important;
  }

  .about-topic {
    padding-left: 10%;
  }

  .about-topic h4{
    width: auto;
    text-decoration: underline;
    font-size: 25px;
    line-height: 70px;
    color: #9E6B57;
  }


@media (max-width: 768px) { 

  .about-topic {
    padding-left: 1%;
  }

  .about-topic h4{
    display: inline-block;
    line-height: 20px;
    background-color:  #9E6B57;
    color: #333;
    border-radius: 5px;
    padding: 2px 5px;
    font-size: 18px;
    text-decoration: none;
    margin-bottom: 20px;
  }

  .word h6{
    line-height: 12px;
  }

  .word p{
    padding: 0 15px 0 0;
    /* line-height: 20px; */
    font-size: 18px !important;
    line-height: 26px;
  }

  .word h5{
      font-size: 28px;
      line-height: 36px;
    padding: 0 15px 0 0;
  }

  .sm-section, .bg-section{
    margin:0 4%;
    margin-bottom: 20px;
  }

  section {
    margin: 50px auto !important;
  }

  

  section .container {
    padding:50px auto !important;
  }

  #footer {
    margin-bottom: 0 !important;
  }

}


@media (max-width: 1409px){

  .bg-section{
    margin:0 4%;
  }
}


/* footer */

#footer {
  border-top: 1px solid rgba(256,256,256,0.15);
  background:rgb(248,248,248);
  color:#252525;
  font-size: 18px;
  padding:15px 0 10px 0;
  
}

  #footer .container .row div{
    
    text-align: center;
    color: hsl(0, 0%, 15%);
    text-decoration: none;
    

    
  }

  #footer .container div { 
    /* width: 100% !important; */
    /* flex: 1; */
    /* direction: rtl; */
    flex-direction: row-reverse;
  }

  #footer div span {
    line-height: 40px;
  }

  #footer .container .row a{
    vertical-align: middle;
  }

  #footer div a:hover{
    -webkit-filter:grayscale(0%);
    -webkit-transition: filter .8s;
  }

  #footer a {
    display: inline-block;
    text-decoration: none;
    color: #252525;
    margin:0px 1px;
    padding: 5px;
  }

  #footer a i {
    margin: 0 auto;
    font-size: 30px;
  }


  @media (min-width: 901px) {
    #footer {
      display: flex;
    }


  }
  @media (max-width: 900px) {
    #footer div{
      width: 100% !important;
      
    }
    #footer div:nth-child(2) a{
      padding-bottom: 0px; 
      padding-top: 9px;
    }


    #welcome img {

      width:90%;

    }

    .bsncard {
      margin:0 auto 60px;
    }


  
  }

  #footer a:hover {
    background: transparent;
    color:#9E6B57;
    
  }

  #footer>div>a:hover {
    background-color: transparent;
    color:#9E6B57;
  }



  #footer p {
    font-size: 16px;
    text-align: center;
  }

  .logo{
    /* height: 0px; */
    /* margin: 0 10px; */
  }


/*portfolio*/


  /* .port {
    width: 94%;
    text-align: center;
    margin: 0 auto;
  }

  .port div {
    height: auto;
    text-align: center;
  }

  .port h5 {
    line-height: 1em;
    font-size: 1em;
    font-weight: 500;
  }


  .port div:hover .intro {
  }

  .port img {
    width: 100%;
    display: block;
    margin: auto;
    background: transparent;
    -webkit-filter:saturate(0.8);
  }

  .port img:hover {
    -webkit-filter:saturate(1.4);
  }


  .portfolio-item {
    text-align: center;
    margin-bottom: 10px;
    /* width: 30%; */
    /* padding: 0 10px !important; */
  /* } */

  


  .intro {
    width:100%;
    padding: 12px 5px 6px 5px;
    color: #333;
    /* background: #FBE091; */
  
    border-radius: 6px;
    margin: 4px 0;

  }

  .portfolio-word {
    /* color:#; */
    font-size:20px; 
    right:0; 
    text-align: right; 
    margin-top:15px;
  }

  @media (max-width: 768px) { 
    .portfolio-word {
       font-size:16px;
    } 
  } */


/*contact*/

  #contact { 
    /* background-color: red; */
    /* background: url('../img/contactbg4.jpg') center center; */
    background-size: cover;
  } 


  #contact >.topic{
    background-color: #333;
  }

  .bsncard {
    width: 400px;
    height: 250px;
    background-color: rgba(256,256,256,0.9);
    /* margin: 20px auto; */
    border-radius: 8px;
    padding:25px;
    position: relative;
    box-shadow:5px 5px 12px  rgba(10,10,100,0.2);
    margin-bottom: 25px;
    color: #333;
    /* opacity: 0; */
    border:1px rgb(253, 253, 253) solid;
    margin: 10px auto 15px;
  }

  .bsn-logo {
    width: 60px;
    height: 60px;
    position: absolute;
    right:25px;
    background: url('../img-new/logo_black.png') center center no-repeat;
    background-size: contain;
    margin-right: 0;
  }

  .bsn-intro {
    text-align: left;
    left: 25px;
    bottom: 20px;
    position: absolute;
  }

  .bsn-intro p {
    color: #333;
    padding: 0;
    margin: 0;
    font-size: 13px;
  }

  .bsn-intro a{
    color: #333;
  }

  .bsn-intro i {
    width: 15px;
    text-align: center;
  }

  .bsin-intro h5{
    color: #333;
    margin: 0;
    padding: 0;
  }

  @media (max-width: 575px) { 
  .bsncard {
    width: 380px;
    height: 240px;
    text-align: center;
    margin: 10px auto;
   }

   #contact {
     margin:80 auto;
   }

  }


/* animation */

  #about, #moments, #skills, #portfolio, #contact {
    /* visibility: hidden; */
    overflow: hidden;
  }

  #about, #moments, #skills, #portfolio, #contact {
    /* visibility: visible; */
    overflow: hidden;
  }


  .contact-intro, .about-intro, .about-work, .about-edu {
    width: 100%;
    text-align: center;
    /* visibility: hidden; */
  }

  


  @keyframes topAnim {
    0%   {margin-top: 1500px;}
    /* 100% {visibility: visible;} */
  }

  @keyframes leftAnim {
    0%   {margin-left: 2000px;}
    /* 100% {visibility: visible;} */
  }

  @keyframes rightAnim {
    0%   {margin-left: -2000px;}
    /* 100% {visibility: visible;} */
  }



  /* skill */

.skillsIntro {
  margin-bottom: 50px;
  text-align: left;
  padding:0  2%;
}

.skillsIntro ul{
  list-style-type:none; 
}

.skillsIntro li:before{
  content: " ‣ "; 
  color: #9E6B57;
  font-size: 22px;
  line-height: 30px;
}

@media only screen and (min-width: 850px) {
  .skillsIntro {   
    width:750px;
    margin: 0 auto;
    margin-bottom: 40px;
  }
}

@media (max-width: 768px) { 
  .skillsIntro {
    padding: 0 20px;
  /* text-align: center; */
  }
}

.skillsIntro li {
  margin-bottom: 35px;
}

.skillsIntro li:last-child {
  margin-bottom: 0px;
}

.skillsIntro li>p {
  color: #9E6B57;
  font-size: 22px;
  text-transform: uppercase;
  line-height: 30px;
  display: inline;
}

.graph{
  text-align:center;
}

.chart {
  width: 150px;
  position: relative;
  display: inline-block;
  margin: 20px 10px 0px 10px;
  color:   #9E6B57;
  font-weight: 400;
  /*text-transform: uppercase;*/
  text-align: center;
} 

canvas {
  position: absolute;
  top: 0; left: 0;
}

.chart p{
  margin: 50px auto;
  line-height: 25px;
}

.programming-graph, .software-graph{
  width: 80%;
  width: 110%;
  /* max-width: 00px; */
  margin: 20px auto;
  visibility: hidden;
}


.bar{
  height: 25px;
  line-height: 25px;
  font-weight: 550;
  width: 570px;
  margin: 0 auto 20px auto;
  font-size: 16px;
  color: #333;
  padding: 0 0 0 10px;
  position: relative;
  background-color: transparent;
  z-index: 1;
  border-radius: 3px;
  overflow: hidden;
  float: left;

}

.bar::before{
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  height: 100%;
  top: 0;
  z-index: -2;
  background: #;
}

 .bar::after{
  content: '';
  background: #9E6B57;
  height: 100%;
  display: block;
  width: 100%;
 
  position: absolute;
  border-radius: 3px;
  top: 0;
  left: 0;
  z-index: -1;
}

.bar.animation::after {
   -webkit-animation: bar-before 1 3s;
/*   transition: 4s; */
}

.bar1::after{max-width: 85%;}
.bar2::after{max-width: 35%;}
.bar3::after{max-width: 65%;}
.bar11::after{max-width: 90%;}


.bar4::after{max-width: 95%;}
.bar5::after{max-width: 90%;}
.bar6::after{max-width: 80%;}
.bar7::after{max-width: 60%;}
.bar8::after{max-width: 25%;}
.bar9::after{max-width: 20%;}
.bar10::after{max-width: 55%;}

.bar a {
  color:#000 !important;
  text-decoration: underline;
}

.ps {
  color:#; 
  font-size:16px;
  line-height: 27px;
}

@-webkit-keyframes bar-before{
  0%{
    width: 0px;
  }
  100%{
    width: 100%;
  }
}


/* sub-navbar */

.sub-navbar {
  width: 100%;
  /* height: 170px; */
  /* background-color: red; */
  overflow: hidden;
  background-color: #000;
  /* padding-bottom: 10px; */
  text-align: center;
}

.sub-navbar a {
  display: inline-block;
  width: 19.5%;
  height: 95%;
  /* background-color: yellow; */
  text-align: center;
}

.sub-navbar a .intro {
  width: 100%;
  height: 100%;
}

.sub-navbar a img {
  width: 92%;
}

.sub-navbar a.active .intro {
  background-color: #E37D5C;
  color: #;
}

.sub-navbar a.active img {
    -webkit-filter:saturate(1.4);
  }

.sub-navbar a:hover .intro {
  background-color: #E37D5C;
  color: #;
}

.sub-navbar a:hover img {
    -webkit-filter:saturate(1.4);
  }

.home a{
  background-color: #9E6B57;
  text-align: center;
  border-radius: 6%;
  
}

.home a:hover{
  background-color: #E37D5C;  
  /* border-radius: 6%; */
}

.home i{
  color: #333 !important; 
  line-height: 30px;
  font-size: 24px;  
}


.slick-slide {
  display: block;
  text-align: center;
  background: #FBE091;
  margin: 20px 5px;
  border-radius: 5px;
  padding: 5px;
  width: 180px;
  /* border:1px solid #333; */
}


.slick-slide p{
  color:#252525;
  margin-bottom: 0;
  margin: 2px 0 4px 0 ;
}

.slick-slide p:last-child{
  font-size: 14px;
  margin: 5px 0 0 0;
}





.slick-slide:hover{
  background-color: #9E6B57;
}


.slick-slider {
  width: 90%;
  margin:0 auto;
}


@media screen and (max-width: 900px) {
  .slick-next, .slick-next:before,
  .slick-prev, .slick-prev:before  {
    display: none;
  }
}


header {
  height: 200px;
  position: absolute;
  top: 0;
  transition: top 0.5s ease-in-out;
  width: 100%;
  /* padding: 20px 20px ; */
  z-index: 100;
  padding: 35px 20px;
  /* background-color: #E37D5C; */
  /* background-color: #fff; */
  /* border-bottom: 1px solid rgba(256,256,256,0.15); */
  /* box-shadow: 0 2px 4px rgba(0,0,0,0.1); */
  transition: top .4s ease-in-out
}

header.hideUp {
  /* top: -70px; */
}

header div {
  /* display: inline-block; */
}


header .link {
  /* background-color: red; */
  float:right;
  margin-top: -2px;
}



header .link a{
  margin: 0 5px 0 5px;
  padding: 0;
  color:#252525;
  line-height: 35px;
  font-weight: 500;
  letter-spacing: .5px;
  font-style: 18px;
}

header .link a:hover {
  color:#252525;
}

header .link a.active:hover {
  color:#9E6B57;
}




header .link {
  /* right: 0; */
  float: right;
  /* margin:10px auto; */
}

header img {
  height: 40px;
  vertical-align: middle;
}

.opennav {
  display: none !important;
}


@media screen and (max-width: 720px) {
  header img {
      /* height: 40px; */
  }
  header {
      /* padding:17px 10px; */
  }
  header .link .underline{
    display: none;
      /* background-color: red; */
      /* margin:5px auto; */
  }
  .opennav {
    display: block !important;
  }

}



/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 400px; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  right: -417px;
  background-color: #333; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  /* opacity: 0.9; */
  overflow-y: scroll;
  /* padding-left:450px ; */
  }
  
  /* The navigation menu links */
  .sidenav a {
  padding: 8px 32px 8px 16px;
  text-decoration: none;
  /* font-size: 25px; */
  color: #000;
  
  display: block;
  transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
  color: #000;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
  position: absolute;
  top: 20px;
  right: 10px;
  font-size: 24px;
  /* margin-right: 50px; */
  }
  
  #accordion {
  padding:0 5%;
  list-style-type: none;
  }
  
  #accordion img{
  width:90%;
  margin-left: 5%;
  }
  
  
  #accordion .topic{
  color:#E37D5C;
  text-align: left;
  padding: 6px 15px;
  }
  
  #accordion li a {
  font-size:16px;
  }
  
  #accordion li a:hover {
  color:#9E6B57;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
  }
  
  
  .window-overlay {
  width: 100vw;
  height: 100vh;
  background-color: #333;
  position: fixed;
  top: 0;
  left: 0;
  opacity: .75;
  display: none;
  }
  
  .sidenav, .window-overlay{
  z-index: 1000;
  }


  .only-small {
    display: none;
}





.clear {
  clear: both;
}

.categories {
  text-align: center;
  margin-bottom: 2rem;
}


.type li {
  list-style: none;
  display: inline-block;
}
.sub-type li {
  list-style: none;
  display: inline-block;
  
}
.sub-type, .sub-type li a{
  color:#000;
}


.type li a{
  /* background-color: #9E6B57; */
  /* padding: 10px; */
  margin: 0 12px;
  color: #000;
  text-decoration: none;
  /* float: left; */
  font-size: 20px;
  font-weight: 600; 
}

.type li a.active {
  color:#9E6B57;
}


.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}


.black {
  display: block;
  position: absolute;
  width: 200px;
  height: 200px;
  margin: 15px;
  background-color: rgba(0,0,0,0);
  transition: 0.6s;
}


a:hover .black {
  background-color: rgba(0,0,0,0.7);	
  -webkit-transform: scale(1.12);
  -moz-transform: scale(1.12);
  -ms-transform: scale(1.12);
  -o-transform: scale(1.12);
  transform: scale(1.12);
}


.black p{
  display: none;
}

.black h3{
  display: none;
  margin-top: 60px;
}

a:hover h3{
  display: block;
  color: white;
  text-align: center;
}

a:hover p{
  display: block;
  /* color: white; */
  /* text-align: center; */
}

/* underline */

.underline.active {
  color:#9E6B57;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  font-weight: 600;
}




.underline {
  position: relative;
} 
.underline:hover,
.underline:focus,
.underline:active {
  text-decoration: none; 
  cursor: pointer;
  color:#252525;
}

.underline:hover:after,
.underline:focus:after,
.underline:active:after  {
      width: 100%;
      color:#252525 !important;
}


.underline.active:hover:after,
.underline.active:focus:after,
.underline.active:active:after  {
  display: none;
}



  
  .underline:after {
    content: '';
    position: absolute;
    left: 0; 
    bottom: -2px;
    height: 1px;
    background-color: #252525;
    width: 0;
    transition: width .4s;
  }





  /* css-new */


  /* selected work */


  #selectedwork .row {
    min-height:60vh;
    background-color: #f9f9f9;
    display:flex; align-items:center;justify-content:center;
    height: 550px;
    overflow: hidden;
    border-radius: 5px;
  }

  #selectedwork .row .text h6 {
    color: #9E6B57;
    font-weight: 700 !important;
  }

  #selectedwork .row .text h4 {
    font-weight: 700 !important;
  }

  #selectedwork .row .text button {
    background-color: #9E6B57;
    color:#fff;
    padding:3px 10px;
    border: none;
    border-radius: 8px;
    font-weight: 500;
  }


  /* portfolio */

  /*portfolio*/


  .port {

    text-align: center;
    margin: 0 auto;
    /* background-color: #123; */
  }

  .port div {
    height: auto;
    text-align: center;
  }

  .port h5 {

    font-size: 1em;
    font-weight: 500;

  }

  

  .port .intro {
    overflow: hidden !important;
  }

  

  .port .intro .desc {
    text-align: left;
    margin-bottom: 8px;
  }

  .port .intro .desc h5 {
    margin-bottom: 0;
    margin-top: 3px;
    white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  }

  .port .intro .desc small {
    font-size: 12px;
    opacity: 0.62;
  }

  .port .intro .desc p {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    opacity: 0.62;
    font-size:15px;
    margin-bottom: 0;
    margin-top: 6px;


  }


  .port img {
    width: 100%;
    display: block;
    margin: 30px auto 5px;
    /* background: rgb(239,239,239); */
    transform:scale(1,1);
    transition: all .3s ease-out;
    -webkit-filter:saturate(1);
    webkit-filter:grayscale(0);
    border-radius:5px;
    height: 140px;
    
  }

  /* .port .portfolio-item:hover img {
    transform:scale(1.2,1.2);
    -webkit-filter:saturate(1.4);
    webkit-filter:grayscale(0.5);
    background: rgb(220,220,220);
  } */


  .portfolio-item {
    padding:8px 10px;
  }


  .portfolio-item .intro {
    text-align: center;
    margin-bottom: 5px;
    padding: 8px 12px 12px !important;
    /* border:1px solid transparent; */
    border-radius:5px;
    /* background: #e6f2fd; */
    margin:1px 0;

  }

  .portfolio-item:hover {
    /* border:1px solid rgba(0,0,0,0.3); */
  } 

  .portfolio-item:hover a {
    text-decoration: none;
  }

  


  .intro {
    width:100%;
    /* padding: 12px 5px 6px 5px; */
    color: #333; 
    border-radius: 5px;
    margin: 4px 0;

  }

  .portfolio-word {
    font-size:20px; 
    right:0; 
    text-align: right; 
    margin-top:15px;
  }

  @media (max-width: 768px) { 
    .portfolio-word {
       font-size:16px;
    } 
  }


  /* header>div:hover a:nth-child(2) {
    display:none;
  } */


  .container{
    max-width:1410px;
  }

  @media screen and (min-width: 1170px){
    .container-fluid, .container, .admin-container {
      padding: 0 6.66667rem 0 6.66667rem;
  }
  }


  /* about moments */


  .ig-photo {
    width: 33vw;
    height: 33vw;
    max-width: 280px;
    max-height: 280px;
    overflow:hidden;
    display: inline-block;
    background-size: cover;
    margin:10px;
    background-position: center;
  }

  .ig-photo:hover {
    opacity: 0.85;
  }


  @media screen and (max-width: 950px){
     .ig-photo {
      width:30vw;
      height: 30vw;
      margin:0;
    } 

    .moments .container {
      padding:0 ;
    }
  } 


  @media (max-width: 768px) {
    section#welcomepic {
      /* height: 70vh; */
      margin-top: 40px !important;
      margin-bottom: 0px !important;
      background-size: cover;
    }


    .topic {
      padding-top: 0px;
      padding:15px;
    }

    .topic h2 {
      padding: 0px;
      font-size: 28px;
    }

    .under {
      height: 10px;
      width: 90px;
    }
  }


  @media (max-width: 560px) { 
    section#welcomepic {
      /* height: 60vh; */
      margin-top: 40px !important;
      margin-bottom: 0px !important;
      background-size: cover;
    }
  }



  .pace {
    -webkit-pointer-events: none;
    pointer-events: none;
  
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
  
  .pace-inactive {
    display: none;
  }
  
  .pace .pace-progress {
    background: #9E6B57;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 3px;
  }


  html.sr .load-hidden {
    visibility: hidden;
}
  
















