  *{
    margin: 0;
    padding: 0;
    font-family:'Source Sans Pro', 'Calibri','Roboto','Rubik', sans-serif,"Arial","PingFangSC-Regular","Helvetica", "微軟正黑體","黑體-繁", sans-serif;
  }

  body {
    color:#111;
  }


/* navbar */
    
  .navbar {
    color: #fff;
  }

  nav, #welcomepic, #about, #moments, #skills, #portfolio, #contact, #footer {
    width: 100%;
    overflow: hidden;
  }

  #welcomepic, #about, #moments, #skills, #portfolio, #contact {
    margin: 90px auto 80px;
  }

  #welcomepic {
    margin-top: 70px;
  }

  .navbar-brand {
    height: 60px;
    background-color: red;
    background: url('../img/name.png') center center no-repeat;
    background-size: contain;
    padding: 20px 0;
    width: 60vw;  
  }

  .nav-item a {
    color: #9E6B57;
  }

  .nav-item a:hover {
    color: #E37D5C;
  }


/* welcome */

  .welcomepic {
    text-align: center;
    margin-top: 60px;
  }

  #welcomepic h1{
    display: block;
    width: 45vw;
    font-size: 4vw;
    position: absolute;
    color: #9E6B57;
    right: 0;
    text-align: center;
    padding: 3vw 0;
    line-height: 5vw;
    }

  #welcomepic h1{
    animation-duration: 4s;
    animation-name: slidein;
  }

  @keyframes slidein {
    from {right: -50vw;}
    to {right: 0;}
  }


/* topic */

  .topic  {
    color: #9E6B57;
    padding:25px;
    margin: 0;
    text-align: center;
    padding-top: 40px;
  }

  .topic h2 {
    padding: 10px;
  }
   
  .under{
    background: url('../img/line.jpg') center center no-repeat;
    background-size: contain;
    margin: 0 auto;
    width: 150px;
    height: 25px;
  }

  #welcome {
    width: 100%;
    padding: 10% 20px 0px;
  }


  #welcome h1 {
    line-height: 1.5em;
    font-family: Calibre, sans-serif;
    font-size:2.3em;
    font-weight: 500;
    color: #0a0a14;
  }


   #welcome img{
    display: block;
    width:100%; 
  } 

  #welcome .row {
    position:relative;
  }

  #welcome .intro-box {
    max-width: 470px ;
    font-size: 20px;
    color:#fff;
    min-width: 410px;
  }

  #welcome .intro-box>img {
    width:100%;
  }

  #welcome .intro-box>img,  #welcome .intro-box>div {
    display: inline-block;
  }

  #welcome .intro-box>div {
    background-color: #9E6B57;
    padding:25px 32px 8px;
  
  }

  #welcome .intro-box h1 {
    font-size:38px;
    margin-left: 27%;
    font-family: 'Oregano';
  }

  #welcome .intro-box {
    margin-left: -40%;
  }


/* about */

  .box{  
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-color: #9E6B57;
    position: absolute;
    right: 5%;
    top: 3%; 
    display: table;
    margin: 0 auto;
  }

  .insidebox {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
    line-height: 23px;   
    padding-top: 10px;
  }

  .box p{
    color: #333;
  }

  a{
    color: #9E6B57
  }

  a:hover {
    color: #E37D5C;
  }


  .bg-section h6, .sm-section h6{
    font-size: 20px;
    line-height: 22px;
    font-weight: 600;
    color: #252525;
  }

  .word {
    text-align: center;
  }

  .word h5{
    font-size: 32px;
    line-height: 44px;
    color: #9E6B57;
    font-weight: 400;
    display: inline;
    text-align: center;
    font-family: 'Patua One','Roboto';
  }


  #about p, #about a, .word p{
    font-size: 18px;
    line-height: 1.75em;
  }


  .CV {
    border: 1px solid #9E6B57;
    padding: 5px 20px;
    margin-bottom: 10px;
    text-decoration: none;
    color: #9E6B57;
    cursor: pointer;
  }

  .CV:hover{
    text-decoration: none;
    background-color: #9E6B57;
    color: #fff;
  }

  .word p {
    line-height: 1.8em;
  }

   .bg-section {
    margin-bottom: 20px;
    margin-top: 10px !important;
  }

  .sm-section {
    margin-top: 40px;
    font-size: 1.1em;
  }


  .sm-section .col {
    line-height: 1.7;
  }

  .sm-section p, .bg-section p{
    line-height: 1.6em;
  }

  .sm-section a:hover{
    text-decoration: none;
    color:#9E6B57 !important;
  }


  .bg-section span {
    font-weight: 600;
    color: #252525;
  }


  .about-topic {
    padding-left: 10%;
  }

  .about-topic h4{
    width: auto;
    text-decoration: underline;
    font-size: 25px;
    line-height: 70px;
    color: #9E6B57;
  }



/* footer */

#footer {
  border-top: 1px solid rgba(256,256,256,0.15);
  background:rgb(248,248,248);
  color:#252525;
  font-size: 18px;
  padding:20px 0 15px 0;
}

#footer .row {
  margin-right: 0;
  margin-left: 0;
}

  #footer .container .row div{   
    text-align: center;
    color: hsl(0, 0%, 15%);
    text-decoration: none;

  }

  #footer .container div { 
    flex-direction: row-reverse;
  }

  #footer div span {
    line-height: 40px;
  }

  #footer .container .row a{
    vertical-align: middle;
  }

  #footer div a:hover{
    -webkit-filter:grayscale(0%);
    -webkit-transition: filter .8s;
  }

  #footer a {
    display: inline-block;
    text-decoration: none;
    color: #252525;
    margin:0px 1px;
    padding: 5px;
  }

  #footer a i {
    margin: 0 auto;
    font-size: 30px;
  }


  #footer a:hover {
    background: transparent;
    color:#9E6B57;
    
  }

  #footer>div>a:hover {
    background-color: transparent;
    color:#9E6B57;
  }



  #footer p {
    font-size: 16px;
    text-align: center;
  }

  .intro {
    width:100%;
    padding: 12px 5px 6px 5px;
    color: #333;
    /* background: #FBE091; */
  
    border-radius: 6px;
    margin: 4px 0;

  }

  .portfolio-word {

    font-size:20px; 
    right:0; 
    text-align: right; 
    margin-top:15px;
  }




/*contact*/

  #contact { 
    background-size: cover;
  } 


  #contact >.topic{
    background-color: #333;
  }

  .bsncard {
    width: 400px;
    height: 250px;
    background-color: rgba(256,256,256,0.9);
    /* margin: 20px auto; */
    border-radius: 8px;
    padding:25px;
    position: relative;
    box-shadow:5px 5px 12px  rgba(10,10,100,0.2);
    margin-bottom: 25px;
    color: #333;
    /* opacity: 0; */
    border:1px rgb(253, 253, 253) solid;
    margin: 10px auto 15px;
  }

  .bsn-logo {
    width: 35px;
    height: 35px;
    position: absolute;
    right:30px;
    margin-top:5px ;
    background: url('../img-new/logo_12.png') center center no-repeat;
    background-size: contain;
    margin-right: 0;
  }

  .bsn-intro {
    text-align: left;
    left: 25px;
    bottom: 20px;
    position: absolute;
  }

  .bsn-intro p {
    color: #333;
    padding: 0;
    margin: 0;
    font-size: 13px;
  }

  .bsn-intro a{
    color: #333;
  }

  .bsn-intro i {
    width: 22px;
    font-size: 13px;
    text-align: center;
  }

  .bsin-intro h5{
    color: #333;
    margin: 0;
    padding: 0;
  }





.slick-slide {
  display: block;
  text-align: center;
  /* background: #FBE091; */
  /* margin: 20px 5px; */
  border-radius: 5px;
  padding: 5px;
  width: 180px;
  /* border:1px solid #333; */
}


.slick-slide p{
  color:#252525;
  margin-bottom: 0;
  margin: 2px 0 4px 0 ;
}

.slick-slide p:last-child{
  font-size: 14px;
  margin: 5px 0 0 0;
}






.slick-slider {
  width: 95%;
  margin:0 auto;
}




header {
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  padding: 35px 20px;
  background-color: transparent;
}



.navbar {
  height: 70px;
  /* position: absolute; */
  position:fixed;
  top: -70px;
  left:0;
  transition: top 0.5s ease-in-out;
  width: 100%;
  z-index: 110;
  padding: 20px 20px;
  transition: top .4s ease-in-out;
  background-color: white;
  box-shadow: 0 0 8px rgba(0,0,0,.2)
}

.navbar.scrollDown {
  top: 0px;
  display: block;
  transition: top .4s ease-in-out;
}

.navbar .row {
  width: 80vw !important;
}




header .link, .navbar .link {
  float:right;
  margin-top: -2px;
  
}

header .link a, .navbar .link a{
  margin: 0 8px;
  padding: 0;
  color:#252525;
  line-height: 35px;
  font-size: 18px;
  font-weight: 500;
}

header .link a:hover, .navbar .link a:hover {
  color:#9E6B57;
}

header .link a.active:hover, .navbar .link a.active:hover {
  color:#9E6B57;
}

#welcome h1 {
  font-size: 44px;
}

#welcome p {
  font-size: 22px;
}


#welcome a:hover {
  border-bottom: 1px solid #E37D5C;
  text-decoration: none;
}


.logo:hover {
  text-decoration: none !important;
}


.logo img:first-child {
  height:25px;
  /* margin-bottom:8px; */
  /* margin-right:5px */
}

.logo img:nth-child(2) {
  display: inline-block;
  height:28px;
}


/* underline */


.categories {
  text-align: center;
  margin-bottom: 2rem;
}

.type li {
  list-style: none;
  display: inline-block;
}

.type li a.active {
  color: #9E6B57;
}

.type li a {
  margin: 0 12px;
  color: #000;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
}

.underline.active {
  color:#9E6B57;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  font-weight: 600;
}

.underline {
  position: relative;
} 

.underline:hover,
.underline:focus,
.underline:active {
  text-decoration: none; 
  cursor: pointer;
  color:#9E6B57;
}

.underline:hover:after,
.underline:focus:after,
.underline:active:after  {
      width: 100%;
      color:#9E6B57 !important;
}


.underline.active:hover:after,
.underline.active:focus:after,
.underline.active:active:after  {
  display: none;
}



  
  .underline:after {
    content: '';
    position: absolute;
    left: 0; 
    bottom: -2px;
    height: 1px;
    background-color:#9E6B57;
    width: 0;
    transition: width .4s;
  }



  /*portfolio*/


  .port {
    text-align: center;
    margin: 0 auto;
  }

  .port div {
    height: auto;
    text-align: center;
  }

  .port h5 {
    font-size: 20px;
    font-weight: 500;
    font-family: 'Patua One','Roboto';

  }

  

  .port .intro {
    overflow: hidden !important;
  }

  .port .intro .desc {
    text-align: left;
    margin: 12px 25px 8px;
  }

  .port .intro .desc h5 {
    margin-bottom: 0;
    margin-top: 3px;
    white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  }

  .port .intro .desc small {
    font-size: 14px;
    opacity: 0.62;
  }

  .port .intro .desc p {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    opacity: 0.62;
    font-size:15px;
    margin-bottom: 0;
    margin-top: 6px;


  }


  .port img {
    display: block;
    margin: 5px auto 15px;
    transform:scale(1,1);
    transition: all .3s ease-out;
    border-radius:5px;
    width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
    
  }

  .port .design-dot::before, .port .code-dot::before {
    content: "";
    display: inline-block;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    margin: 2px 3px 1px 1px;
  }

  .port .design-dot::before {
    background-color: #E37D5C;
    border:rgb(221, 111, 74) 1px solid;
  }

  .port .code-dot::before {
    background-color: rgb(78, 87, 216);
    border:rgb(74, 77, 221) 1px solid;
  }

  .port .desc small span:nth-child(2) {
    margin-left: 5px;
  }


  .portfolio-item {
    padding:8px 10px;
  }



  .portfolio-item .intro {
    text-align: center;
    margin-bottom: 5px;
    padding: 8px 0px 0px !important;
    border-radius:5px;
    margin:1px 0;
  }

  .portfolio-item .intro:focus, .portfolio-item a:focus {
    outline: none !important;
    outline-style: none;
  } 

  .portfolio-item:hover a {
    text-decoration: none;
  }


  .portfolio-item:hover img {
    transform: scale(1.04);
  }

  .portfolio-item:hover .intro {
    box-shadow: 0 1px 6px rgba(0,0,0,.15);
  }
  

  


  .intro {
    width:100%;
    color: #333; 
    border-radius: 5px;
    margin: 4px 0;

  }

  .portfolio-word {
    font-size:20px; 
    right:0; 
    text-align: right; 
    margin-top:15px;
  }




  .container{
    max-width:1410px;
  }

  



  /* about moments */


  .ig-photo {
    width: 33vw;
    height: 33vw;
    max-width: 280px;
    max-height: 280px;
    overflow:hidden;
    display: inline-block;
    background-size: cover;
    margin:10px;
    background-position: center;
  }

  .ig-photo:hover {
    opacity: 0.85;
  }


  

  .pace {
    -webkit-pointer-events: none;
    pointer-events: none;
  
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
  
  .pace-inactive {
    display: none;
  }
  
  .pace .pace-progress {
    background: #9E6B57;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 3px;
  }


#portfolio .work{
  background-color: #ccc;
  background: url('../img-new/ruggon_sm.png') center center;
  background-size: cover;
  width:25vw;
  height:25vw;
  margin-bottom: 30px;
  border-radius: 5px;


}

html.sr .load-hidden {
  visibility: hidden;
}


#others {
  border-top: 1px solid #eee;
  padding:50px 0 80px;
}




@media (min-width: 757px){
  .logo img:first-child {
    /* height:25px; */
    margin-bottom:8px;
    margin-right:5px
  }
  
}


@media (max-width: 992px) {

  #welcome {
    padding-top:13% !important;
    margin-bottom: 0;
}

  #welcome .intro-box {
    margin-top: 20px;
    min-width: 0px;
  }
  #welcome .intro-box h1 {
    margin-left: 0;
    text-align: center;
    font-size: 32px;
  }

  #welcome .intro-box>div {
    background-color: transparent;
    /* padding:25px 32px 8px; */
    color:#252525;
    padding:10px;
  
  }

  #welcome .intro-box {
    margin-left: 0;
    max-width: 100%;
  }

}





@media (min-width: 901px) {
  #footer {
    display: flex;
  }
}


@media (max-width: 900px) {
  #footer div{
    width: 100% !important;
    font-size: 16px;
    
  }
  #footer div:nth-child(2) a{
    padding-bottom: 0px; 
    padding-top: 9px;
  }

  .bsncard {
    margin:0 auto 60px;
  }

}

 
@media (max-width: 575px) { 
.bsncard {
  width: 340px;
  height: 230px;
  text-align: center;
  margin: 10px auto;
 }

 #contact {
   margin:80 auto;
 }

 .bsn-intro p a {
   font-size: 13px;
 }

}



@media screen and (min-width: 1170px){
  .container-fluid, .container, .admin-container {
    padding: 0 6.66667rem 0 6.66667rem;
  }

}



@media screen and (max-width: 950px){
  .ig-photo {
   width:30vw;
   height: 30vw;
   margin:0;
 } 

 .moments .container {
   padding:0 ;
 }
} 


@media (max-width: 768px) {


  #about .bg-section p, #about .sm-section {
    font-size: 16px;
  }

  #welcome {
    padding-top: 6% !important;
  }


  #welcome img {
    padding-top: 20px;
    margin: 0 auto;
    max-width: 180px !important;
  }

  #welcome h1 {
    font-size: 26px;
  }

  #welcome p,   #welcome a  {
    display: none;
  }

  .about-topic {
    padding-left: 1%;
  }

  .about-topic h4{
    display: inline-block;
    line-height: 20px;
    background-color:  #9E6B57;
    color: #333;
    border-radius: 5px;
    padding: 2px 5px;
    font-size: 18px;
    text-decoration: none;
    margin-bottom: 20px;
  }

  .word h6{
    line-height: 12px;
  }

  .word p{
    padding: 0 15px 0 0;
    /* line-height: 20px; */
    font-size: 18px !important;
    line-height: 26px;
    text-align: center;
    display: none;
  }

  .word h5{
      font-size: 28px;
      line-height: 36px;
    text-align: center !important;
    display: inline;
    
  }

  .word {
    text-align: center;
  }

  .sm-section .col, .bg-section{
    /* margin:0 4%; */
    margin-bottom: 20px;
  }

  section {
    margin: 50px auto;
  }

  #welcomepic {
    margin: 90px auto 0px;
  }

  #about {
    margin: 10px auto 0px;
  }

  

  section .container {
    padding:50px auto !important;
  }

  #footer {
    margin-bottom: 0 !important;
  }

  .portfolio-word {
    font-size:16px;
 } 

  .logo img:nth-child(2) {
    display: none;
  }

  header {
    height: 100px;
    position: absolute;
    top: 0;
    transition: top 0.5s ease-in-out;
    width: 100%;
    z-index: 100;
    padding: 25px 10px;
  }

  #welcome h1 {
    font-size: 22px;
    font-weight: 400;
  }

  #welcome p, #welcome a {
    font-size: 14px;
  }

  .portfolio-word {
    font-size:16px;
 } 

 .port .intro .desc {
   margin-left: 15px;
 }

  section#welcomepic {
    margin-top: 40px !important;
    margin-bottom: 0px !important;
    background-size: cover;
  }


  .topic {
    padding-top: 0px;
    padding:15px;
  }

  .topic h2 {
    padding: 0px;
    font-size: 28px;
  }

  .under {
    height: 10px;
    width: 90px;
  }
}


@media (max-width: 560px) { 
  section#welcomepic {
    /* height: 60vh; */
    margin-top: 40px !important;
    margin-bottom: 0px !important;
    background-size: cover;
  }
}




  
















