*{
      margin: 0;
      padding: 0;
      font-family: 'Raleway', sans-serif;
    }

    
    .navbar {
      color: #fff;
    }

    nav, #welcomepic, #about, #moments, #skills, #portfolio, #contact, #footer {
      background: #333;
      width: 100%;
      overflow: hidden;
    }


    .navbar-brand {
      height: 60px;
      background-color: red;
      background: url('../img/name.png') center center no-repeat;
      background-size: contain;
      padding: 20px 0;
      width: 60vw;  
    }

    .welcomepic {
      height: 57.5vw;
      background: url("../img/yuchingpic.jpg") top left;
      background-size: cover;
      position: relative;
    }

    .dark-overlay{
      position: absolute;
      background-color: rgba(40, 10, 30, 0.15);
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; 
    }

    #welcomepic h1{
      display: block;
      width: 45vw;
      font-size: 4vw;
      position: absolute;
      color: #c4a046;
      right: 0;
      background-color: #333;
      text-align: center;
     /* top: 28%; */
     bottom: 28%;
     padding: 3vw 0;
     text-shadow:0 0 40px #000;
     line-height: 5vw;
    }

    #welcomepic h1{
     animation-duration: 4s;
      animation-name: slidein;
    }

    @keyframes slidein {
      from {
         right: -50vw;
      }

      to {
         right: 0;
      }
    }


    .topic  {
      color: #c4a046;
      padding: 20px;
      margin: 0;
      text-align: center;
      padding-top: 40px;
    }

    .under{
      background: url('../img/line.jpg') center center no-repeat;
      background-size: contain;
      margin: 0 auto;
      width: 150px;
      height: 50px;
    }



      #footer {
    padding:60px 0;
    text-align: center;
    background-color: #333;
    color: #ddd;
  }

  #footer div {
    margin: 0 auto;
    display: table;
    padding-bottom: 20px;
  }


  #footer div a{
    -webkit-filter:grayscale(90%);
    display: table-cell;
    vertical-align: middle;
    padding:0 6px;
  }

  #footer div a:hover{
    -webkit-filter:grayscale(0%);
    -webkit-transition: filter .8s;
  }


  #footer a {
    text-decoration: none;
    color: #ddd;
  }

  #footer a img {
    width: 35px;
    height: 35px;
  }

  #footer a:hover {
    color: #c4a046;
  }

  #footer p {
    font-size: 16px;
    text-align: center;
    line-height: 1.5;
  }

  .logo{
    height: 80px;
    margin: 0 10px;
  }

  /*portfolio*/

.port div {
  height: auto;
  text-align: center;
}

.port img {
  width: 93%;
  display: block;
  margin: auto;
  background: transparent;
  padding-top: 5px;
}


.intro {
  width:90%;
  padding: 12px 0;
  color: #333;
  background: rgba(196,160,70,1);
  border-radius: 6px;
  margin: 8px 0;

}

/* .intro:hover {
  border:#f16130 5px solid;
  color: #333;
}  */

/*portfolio*/


/*about*/

/*#about {
    background: url('img/aboutpic2.png') top center no-repeat #333;
  background-size: cover;
  background-attachment: fixed;
}*/

.words {
  width: 100vw;
  min-width: 769px;
  display: block;
  color: #ddd;
  line-height: 0.5rem;
  /*font-weight: bold;*/
  padding:10px 0;
  
  
}

.words p {
  font-size: 1rem;
}

.about-sm{
  display: none;
}

@media (max-width: 610px) { 
  .about-sm{
    display: block;
    padding: 0;
    margin: 0 auto;
    
  }

  .about-md{
    display: none;
  }

  .col {
    margin: 0 auto;
  }

.words {
  display: block;
    min-width: 0;
    text-align: justify;
      -moz-text-align-last: center;
      text-align-last: center;

  }

  .words:nth-child(1){
    text-align: center;
  }

  .words p {
    line-height: 18px;
    font-size: 15px;
    margin: 4px;
  }


}



.words a {
  color: #c4a046;
}

.words a:hover {
  color: #f16130;
}


.dark-overlay2{
      position: absolute;
      background-color: rgba(196,160,70, 0.3);
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; 
    }

/*about*/

/*contact*/
/*
#contact { 
  background: url('img/contactbg.png') center center #333;
  background-size: contain;
  background-attachment: fixed;
}*/

.bsncard {
  width: 400px;
  height: 250px;
  background-color: #ddd;
  margin: 0 auto;
  border-radius: 5px;
  padding: 20px;
  position: relative;
  box-shadow:15px 15px 12px  rgba(20,20,20,0.7);
  margin-bottom: 20px;
}

.bsn-logo {
  width: 65px;
  height: 65px;
  background: url('../img/icon.png') center center no-repeat;
  background-size: contain;
}

.bsn-intro {
  text-align: right;
  right: 20px;
  bottom: 20px;
  position: absolute;
}

.bsn-intro p {
  color: #333;
  padding: 0;
  margin: 0;
  font-size: 13px;
}

.bsn-intro a{
  color: #333;
}

.bsin-intro h5{
  color: #333;
  margin: 0;
  padding: 0;
}

@media (max-width: 400px) { 
.bsncard {
  width: 340px;
  height: 240px;
 }
/*contact*/





/* skills */


