  *{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
  }

  body {
    background-color: #333;
  }



/* navbar */
    
  .navbar {
    color: #fff;
  }

  nav, #welcomepic, #about, #moments, #skills, #portfolio, #contact, #footer {
    background: #333;
    width: 100%;
    overflow: hidden;
  }


  #welcomepic, #about, #moments, #skills, #portfolio, #contact {
    margin-bottom: 30px;
  }


  .navbar-brand {
    height: 60px;
    background-color: red;
    background: url('../img/name.png') center center no-repeat;
    background-size: contain;
    padding: 20px 0;
    width: 60vw;  
  }


/* welcome */

  .welcomepic {
    height: 57.5vw;
    background: url("../img/yuchingpic.jpg") top left;
    background-size: cover;
    position: relative;
  }

  .dark-overlay{
    position: absolute;
    background-color: rgba(40, 10, 30, 0.15);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
  }

  #welcomepic h1{
    display: block;
    width: 45vw;
    font-size: 4vw;
    position: absolute;
    color: #c4a046;
    right: 0;
    background-color: #333;
    text-align: center;
    bottom: 28%;
    padding: 3vw 0;
    text-shadow:0 0 40px #000;
    line-height: 5vw;
    }

  #welcomepic h1{
    animation-duration: 4s;
    animation-name: slidein;
  }

  @keyframes slidein {
    from {right: -50vw;}
    to {right: 0;}
  }


/* topic */

  .topic  {
    color: #c4a046;
    padding:25px;
    margin: 0;
    text-align: center;
    padding-top: 40px;
  }

  .topic h2 {
    padding: 10px;
  }

  @media (max-width: 900px) {
    .topic {
      padding-top: 0px;
      padding:15px;
      /* background-color: red; */

    }

    .topic h2 {
      padding: 0px;
      font-size: 26px;
    }

    .under {
      height: 10px;
      width: 90px;
    }

  }
   
  .under{
    background: url('../img/line.jpg') center center no-repeat;
    background-size: contain;
    margin: 0 auto;
    width: 150px;
    height: 25px;
  }


/* about */

  .box{  
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-color: #c4a046;
    position: absolute;
    right: 5%;
    top: 3%; 
    display: table;
    margin: 0 auto;
  }

  .insidebox {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
    line-height: 23px;   
    padding-top: 10px;
  }

  .box p{
    color: #333;
  }

  a{
    color: #c4a046
  }

  a:hover {
    color: #d96342;
  }

  .word {
    margin-bottom: 25px;
  }

  .word h6{
    font-size: 16px;
    line-height: 18px;
    color: #c4a046;
  }

  .word h5{
    font-size: 22px;
    line-height: 22px;
    color: #d96342;
  }

  .word p{
    font-size: 16px;
    color: #ddd;
    text-align: justify;
  }

  .about-topic {
    padding-left: 10%;
  }

  .about-topic h4{
    text-align: left;
    width: auto;
    text-decoration: underline;
    font-size: 25px;
    line-height: 70px;
    color: #c4a046;
  }


@media (max-width: 768px) { 

  .about-topic {
    padding-left: 1%;
  }

  .about-topic h4{
    display: inline-block;
    line-height: 20px;
    background-color:  #c4a046;
    color: #333;
    border-radius: 5px;
    padding: 2px 10px;
    font-size: 20px;
    text-decoration: none;
    margin-bottom: 30px;
  }

  .word h6{
    line-height: 12px;
  }

  .word p{
    padding: 0 15px 0 0;
    line-height: 20px;
  }

  .word h5{
    padding: 0 15px 0 0;
  }

}


/* footer */

  #footer {
    padding:60px 0;
    text-align: center;
    background-color: #333;
    color: #ddd;
  }

  #footer div {
    margin: 0 auto;
    display: table;
    padding-bottom: 20px;
  }

  #footer div a{
    -webkit-filter:grayscale(90%);
    display: table-cell;
    vertical-align: middle;
    padding:0 6px;
  }

  #footer div a:hover{
    -webkit-filter:grayscale(0%);
    -webkit-transition: filter .8s;
  }

  #footer a {
    text-decoration: none;
    color: #ddd;
  }

  #footer a img {
    width: 35px;
    height: 35px;
  }

  #footer a:hover {
    color: #c4a046;
  }

  #footer p {
    font-size: 16px;
    text-align: center;
    line-height: 1.5;
  }

  .logo{
    height: 80px;
    margin: 0 10px;
  }


/*portfolio*/

  .port div {
    height: auto;
    text-align: center;
  }


  .port div:hover .intro {
    background-color: #d96342;
    color: #ddd;
  }

  .port img {
    width: 93%;
    display: block;
    margin: auto;
    background: transparent;
    padding-top: 5px;
    -webkit-filter:saturate(0.8);
  }

  .port img:hover {
    -webkit-filter:saturate(1.4);
  }


  .intro {
    width:90%;
    padding: 12px 0;
    color: #333;
    background: rgba(196,160,70,1);
    border-radius: 6px;
    margin: 8px 0;

  }


/*contact*/

  #contact { 
    background: url('../img/contactbg3.jpg') center center;
    /* background-size: contain; */
    /* background-attachment: fixed; */
    /* padding-bottom: 20px; */
  } 


  #contact >.topic{
    background-color: #333;
  }

  .bsncard {
    width: 400px;
    height: 250px;
    background-color: #ddd;
    margin: 20px auto;
    border-radius: 5px;
    padding: 20px;
    position: relative;
    box-shadow:15px 15px 12px  rgba(20,20,20,0.7);
    margin-bottom: 25px;
    color: #333;
  }

  .bsn-logo {
    width: 65px;
    height: 65px;
    background: url('../img/icon.png') center center no-repeat;
    background-size: contain;
  }

  .bsn-intro {
    text-align: right;
    right: 20px;
    bottom: 20px;
    position: absolute;
  }

  .bsn-intro p {
    color: #333;
    padding: 0;
    margin: 0;
    font-size: 13px;
  }

  .bsn-intro a{
    color: #333;
  }

  .bsin-intro h5{
    color: #333;
    margin: 0;
    padding: 0;
  }

  @media (max-width: 400px) { 
  .bsncard {
    width: 340px;
    height: 240px;
   }
  }


/* animation */

  #about, #moments, #skills, #portfolio, #contact {
    visibility: hidden;
    overflow: hidden;
  }


  @keyframes topAnim {
    0%   {margin-top: 1500px;}
    /* 100% {visibility: visible;} */
  }

  @keyframes leftAnim {
    0%   {margin-left: 600px;}
    /* 100% {visibility: visible;} */
  }

  @keyframes rightAnim {
    0%   {margin-left: -600px;}
    /* 100% {visibility: visible;} */
  }
